/* LAYOUT */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Source+Sans+Pro:wght@400;600&display=swap');

* {
  /* font-family: 'DM Serif Display', serif; */
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  color: #333;
  font-size: 125%;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
}

main {
  margin: 0 auto;
  max-width: 994px;
  padding: 1rem;
}

.post-title {
  margin-bottom: 1rem;
}

.post-date {
  display: block;
  margin-bottom: 2rem;
  font-style: italic;
}

.content {
  margin-bottom: 2rem;
}

img {
  max-width: 100%;
}

/* NAVIGATION */

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
  background-color: #ffffff;
  border-bottom: 1px solid #e4e4e4;
  padding: 8px 0;
}

nav a {
  padding: 4px 12px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  color: grey;
}

nav a.active {
  background-color: #f2f2f2;
  color: #000000;
}

/* POSTS */
.posts-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-snippet {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  background-color: #ffffff;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid #e4e4e4;
}

.post-snippet h3 {
  margin: 0;
  font-family: 'DM Serif Display', serif;
}

.post-snippet time {
  color: #646464;
  font-size: 16px;
}

/* HERO */
.hero {
  background-image: url(https://picsum.photos/id/1/200/300);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20rem;
  background-color: #f2f2f2;
  margin-bottom: 2rem;
}

.hero h1, .hero h2, .hero p {
  font-family: 'DM Serif Display', serif;
}

.btn, button {
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
  color: #000000;
  border-radius: 50px;
  font-size: 14px;
  padding: 8px 12px;
  width: fit-content;
}